@model ASP_MVC_Shop.Models.ProductListModel
@using PagedList
@using PagedList.Mvc








<div id="list-large">
    <div class="row">
        <aside class="col-md-2">

            <article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">Danh mục:</a>
                </h6>
                <div class="filter-content collapse show" id="collapse_1">
                    <div class="inner">
                        <ul class="list-menu">
                            @foreach (var item in Model.listCategory)
                            {
                                <li>
                                    <a href=@Url.Action("category","product",new {
                                           alias = item.alias,
                                           view=0
                                })>@item.name</a>
                            </li>
                        }
                            <li>
                                <a href=@Url.Action("category","product",new {
                                   alias="xem-tat-ca",
                                   view = 0
                                })>Xem tất cả</a>
                            </li>
                        </ul>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2">Thương hiệu:</a>
                </h6>
                <div class="filter-content collapse show" id="collapse_2">
                    <div class="inner">
                        @{/*@foreach (var item in Model.listBrand)
                                {
                                <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">
                                @item.name
                                <b class="badge badge-pill badge-light float-right">120</b>
                                </div>
                                </label>
                                }*/
                        }
                        <ul class="list-menu">
                            @foreach (var item in Model.listBrand)
                            {
                                <li>
                                    <a href=@Url.Action("brand","product",new {
                                           alias = item.alias,
                                           view=0
                                })>@item.name</a>
                            </li>
                        }
                            <li>
                                <a href=@Url.Action("brand","product",new {
                                    alias="xem-tat-ca",
                                     view = 0
                                })>Xem tất cả</a>
                            </li>
                        </ul>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Price range </a>
                </h6>
                <div class="filter-content collapse show" id="co


                           llapse_3">
                    <div class="inner">
                        <input type="range" class="custom-range" min="0" max="100" name="">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Min</label>
                                <input class="form-control" placeholder="$0" type="number">
                            </div>
                            <div class="form-group text-right col-md-6">
                                <label>Max</label>
                                <input class="form-control" placeholder="$1,0000" type="number">
                            </div>
                        </div> <!-- form-row.// -->
                        <button class="btn btn-block btn-primary">Apply</button>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Sizes </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_4">
                    <div class="inner">
                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XS </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> SM </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> LG </span>
                        </label>

                        <label class="checkbox-btn">
                            <input type="checkbox">
                            <span class="btn btn-light"> XXL </span>
                        </label>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <h6 class="title">
                    <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5"> Condition </a>
                </h6>
                <div class="filter-content collapse show" id="collapse_5">
                    <div class="inner">
                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                            <div class="custom-control-label">Any condition</div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Brand new </div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Used items</div>
                        </label>

                        <label class="custom-control custom-radio">
                            <input type="radio" name="myfilter_radio" class="custom-control-input">
                            <div class="custom-control-label">Very old</div>
                        </label>
                    </div> <!-- inner.// -->
                </div>
            </article> <!-- filter-group .// -->

        </aside> <!-- col.// -->
        <main class="col-md-10">


            <header class="mb-3">
                <div class="form-inline">
                    <strong class="mr-md-auto">@Model.totalItem Items found </strong>
                    <select class="mr-2 form-control">
                        <option>Latest items</option>
                        <option>Trending</option>
                        <option>Most Popular</option>
                        <option>Cheapest</option>
                    </select>
                    @RenderPage("~/Views/Product/Modul/ViewGroupButton.cshtml")
                </div>
            </header><!-- sect-heading -->


            @foreach (var item in Model.listProduct)
            {
                <article class="card card-product-list my-2 product" data-id=@item.id>
                    <div class="row no-gutters">
                        <aside class="col-md-3">
                            <a href=@Url.Action("detail","product",new { id = item.id }) class="img-wrap p-1">
                                @if (item.salePrice != null && item.salePrice > 0)
                                {
                                    int sale = (int)(100 - (double)item.salePrice * 100 / (double)item.price);
                                    <span class="badge badge-danger"> Giảm @sale% </span>
                                }
                                <img class="contain" src=@item.imageUrl>
                            </a>
                        </aside> <!-- col.// -->
                        <div class="col-md-6">
                            <div class="info-main">
                                <a href=@Url.Action("detail","product",new { alias = item.alias }) class="h5 title">@item.name</a>
                                <div class="rating-wrap mb-2">
                                    <ul class="rating-stars">
                                        <li style="width:100%" class="stars-active">
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <div class="label-rating">9/10</div>
                                </div> <!-- rating-wrap.// -->

                                <p class="mb-3">
                                    <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                    <span class="tag"> 5 Years </span>
                                    <span class="tag"> 80 reviews </span>
                                    <span class="tag"> Russia </span>
                                </p>

                                <p>
                                    @item.shortDes
                                </p>

                            </div> <!-- info-main.// -->
                        </div> <!-- col.// -->
                        <aside class="col-sm-3">
                            <div class="info-aside">
                                <div class="price-wrap">
                                    @if (item.salePrice != null && item.salePrice > 0)
                                    {
                                        <span class="price sale mt-1">@string.Format("{0:#,0}", @item.salePrice) đ</span>
                                        <span class="price root mt-1">@string.Format("{0:#,0}", @item.price) đ</span>
                                    }
                                    else
                                    {
                                        <div class="price current mt-1">@string.Format("{0:#,0}", @item.price) đ</div>
                                    }
                                </div> <!-- price-wrap.// -->
                                <small class="text-warning">Paid shipping</small>

                                <p class="text-muted mt-3">Grand textile Co</p>
                                <p class="mt-3">
                                    <button class="btn  btn-primary add-to-cart-btn mb-1">
                                        <i class="fas fa-shopping-cart"></i> <span class="text">Thêm vào giỏ hàng</span>
                                    </button>
                                    <button class="btn btn-light add-to-cart-btn mb-1">
                                        <i class="fas fa-envelope"></i> <span class="text">Liên hệ</span>
                                    </button>
                                </p>

                                <label class="custom-control mt-3 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Add to compare
                                    </div>
                                </label>

                            </div> <!-- info-aside.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                </article> <!-- card-product .// -->
            }
        @RenderPage("~/Views/Product/Modul/ViewPaging.cshtml")
        </main> <!-- col.// -->

    </div>

</div>
