@model ASP_MVC_Shop.Contexts.ViewProduct_0256

@{
    ViewBag.Title = "Detail";
}

<h2>Details</h2>

<div>
    <h4>ViewProduct_0256</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currencyUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currencyUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isTrash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTrash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.properties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.properties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
