@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ASP_MVC_Shop.Contexts.ViewProduct_0256>

@{
    ViewBag.Title = "Quản lý sản phẩm";


}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" id="content">
                    <div class="card-header d-flex">
                        <h3 class="card-title flex-fill">Sản phẩm</h3>
                        @if(ViewBag.isTrash!= null && ViewBag.isTrash == false)
                        {
                            <a href=@Url.Action("",new {isTrash=true }) class="ms-auto btn btn-danger"><i class="fas fa-trash-alt"></i>Thùng rác</a>
                        }
                        else
                        {
                            <a href=@Url.Action("") class="ms-auto btn btn-info"><i class="fas fa-table"></i>Danh sách</a>
                        }
                        <a href=@Url.Action("create") class="ml-3 btn btn-success"><i class="fas fa-plus"></i> Thêm mới</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-bordered" style="overflow:auto;">
                            <table class="table table-border table-hover table-list-catalog" style="width:auto">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().imageUrl)
                                        </th>
                                        <th scope="col" style="min-width: 20em; white-space: nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().name)
                                        </th>
                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().price)
                                        </th>

                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().salePrice)
                                        </th>
                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().createDate)
                                        </th>
                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().updateDate)
                                        </th>
                                        <th scope="col" style="min-width: 10em; white-space: nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().categoryName)
                                        </th>
                                        <th scope="col" style="min-width: 10em; white-space: nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().brandName)
                                        </th>
                                        <th scope="col" style="min-width: 10em; white-space: nowrap ">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().typeName)
                                        </th>
                                        <th scope="col"style="white-space:nowrap">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().isPublic)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.TotalItemCount > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <figure class="d-flex w-100 relative">
                                                        <div class="aside">
                                                            <img src=@item.imageUrl class="img-sm contain" style="width:8em;height:8em;">
                                                        </div>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <a class="title text-dark" href=@Url.Action("detail", new { id = item.id })>
                                                        @item.name
                                                    </a>
                                                </td>
                                                <td>
                                                    <span style="white-space:nowrap">@string.Format("{0:#,0}", @item.price) đ</span>
                                                </td>
                                                <td>
                                                    <span style="white-space:nowrap">@string.Format("{0:#,0}", @item.salePrice) đ</span>
                                                </td>
                                                <td>
                                                    <p>@item.createDate</p>
                                                </td>
                                                <td>
                                                    <p>@item.updateDate</p>
                                                </td>
                                                <td>
                                                    <p>@item.categoryName</p>
                                                </td>
                                                <td>
                                                    <p>@item.brandName</p>
                                                </td>
                                                <td>
                                                    <p>@item.typeName</p>
                                                </td>
                                                <td style="text-align:center;">
                                                    <input type="checkbox" checked=@item.isPublic ?? false />
                                                </td>
                                                <td>
                                                    <div class="btn-group btn-options">
                                                        <a class="btn btn-success" href=@Url.Action("update", new { id = item.id })>
                                                            <span class="fas fa-edit"></span>
                                                        </a>
                                                        @if (item.isTrash != null && item.isTrash == true)
                                                        {
                                                            <button class="btn-trash btn btn-info" data-action=@Url.Action("restore", new { id = item.id })>
                                                                <span class="fas fa-trash-restore"></span>
                                                            </button>
                                                            <button class="btn-delete btn btn-danger" data-action=@Url.Action("delete", new { id = item.id })>
                                                                <span class="fas fa-trash"></span>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn-trash btn btn-warning" data-action=@Url.Action("remove", new { id = item.id })>
                                                                <span class="fas fa-trash-alt"></span>
                                                            </button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="100%" width="100%">Không có dữ liệu</td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer ajax-page-links" data-render="#content">
                        @if (Model.PageCount > 1)
                        {
                                    @Html.PagedListPager(Model, page => (
                                         Url.Action("","product", new { page, isTrash = ViewBag.isTrash })
                                     ))
                        }
                    </div> 
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</section>